@media (min-width: 768px) and (max-width: 1024px)
{
    .card-11-center,
    .card-11-center-left,
    .card-11-lower,
    .card-11-lower-left,
    .card-12-center,
    .card-12-center-left,
    .card-7-center,
    .showreel-mp4,
    .showreel-video {
      display: none;
    }
    
    .center-image-relative {
      display: none;
    }

    .container-1-inner,
    .center-image-outer {
      display: none !important;
    }

    .mobile-device .section-2 .section-2-bg,
    .mobile-device .section-2 .section-2-signature,
    .mobile-device .section-2 .section-2-signature-left,
    .mobile-device .section-2 .image-block-4-wrapper {
      display: none;
    }

    .mobile-device .showreel .section-2-signature,
    .mobile-device .showreel .section-2-signature-left,
    .mobile-device .showreel .flower-repel,
    .mobile-device .showreel .showreel-title,
    .mobile-device .showreel .showreel-center,
    .mobile-device .showreel .showreel-desc,
    .mobile-device .showreel .showreel-note,
    .mobile-device .showreel .showreel-video-wrapper,
    .mobile-device .showreel .showreel-video,
    .mobile-device .showreel .showreel-mp4,
    .mobile-device .showreel .video-container {
      display: none !important;
    }

    .mobile-device .container-1 {
        background: #000 url('../mobile/images/container-1/mobile_background.png') center center/cover no-repeat;
    }

    .mobile-main-header {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        background: none;
        text-align: left;
        padding-top: 8vw;
      }

    .mobile-video-ramka-left {
        position: absolute;
        left: auto;
        right: 56.5vw;
        top: 57.25vh;
        bottom: auto;
        width: 50vw;
        height: auto;
        z-index: 50;
        pointer-events: none;
        user-select: none;
        display: block;
        /* border: 1px solid red; */
      }

      .mobile-video-ramka-right {
        position: absolute;
        right: auto;
        left: 56.5vw;
        top: auto;
        bottom: 57.25vh;
        width: 50vw;
        height: auto;
        z-index: 50;
        pointer-events: none;
        user-select: none;
        display: block;
        /* border: 1px solid blue; */
      }

      .mobile-main-header .text-3 {
        position: absolute;
        left: 7vw;
        top: 35vw;
        font-size: 4vw;
        opacity: 0.71;
        margin: 0;
        line-height: 1;
      }

      .mobile-main-header .subtitle-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.8vw;
        width: 100vw;
        text-align: center;
        padding-left: 0;
        margin-top: 3vw;
        line-height: 1.2;
        z-index: 100;
      }

      .subtitle-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12.8vw;
        margin-top: 3vw;
        line-height: 1.2;
        width: 100%;
        max-width: 100%;
      }

      .subtitle-text {
        position: absolute;
        bottom: 50px;
        font-family: var(--font-family-montserrat);
        font-size: 20vw;
        font-weight: 300;
        color: var(--text-white);
        text-align: center;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        min-height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .mobile-main-header .year-text {
        position: absolute;
        bottom: 35vw;
        right: 80px;
        font-size: 4vw;
        display: block; /* Показать на мобильных */
      }
      
      .year-text {
        display: block; /* Показать на мобильных */
      }

      #animated-subtitle-mobile {
        font-size: 2.5vw !important; /* или больше, подберите по вкусу */
      }

      .mobile-device .section-2-mobile-title {
        display: block;
        position: relative;
        font-family: var(--font-family-montserrat);
        font-size: 5vw;
        font-weight: 700;
        color: var(--text-white);
        line-height: 1.2;
        right: 4vw;
        text-shadow: 0 1vw 0 rgba(0, 0, 0, 0.61);
        margin: 0 auto;
        max-width: 80%;
      }

      .mobile-device .section-2-mobile-main-photo
      {
        width: 30vw;
      }

      .mobile-device .section-2-mobile-text
      {
        font-size: 2.2vw;
        width: 58.5vw !important;
        margin-top: 2vw;
      }

      .mobile-device .showreel-mp4-mobile
      {
        height: 58vh;
      }

      .mobile-device .showreel::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../mobile/images/showreel/flowers_bg_temp.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: none;
        z-index: 1;
      }

      .showreel-mobile-desc {
        display: block;
        position: absolute;
        /* top: calc(45vh + 2vw); */
        bottom: 15vh;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        /* font-size: 13px; */
        font-size: 1.5vh;
        color: #fff;
        text-align: left;
        padding: 0 16px;
        z-index: 10;
        font-family: var(--font-family-montserrat);
        line-height: 1.5;
        pointer-events: none;
      }

      .mobile-device .section-4 .mobile-section-4-wrapper{
        top: 9vw;
      }

}